.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calculator-title{ 
  font-size:30px; 
  background: #fff; 
  width: 400px; 
  padding: 10px 10px; 
  margin: 0 auto; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  border-radius: 2px; 
  border: 1px solid #666; 
  color: #4CAF50;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
}

.mainCalc{ 
  margin:0px auto; 
  padding:0px; 
  border-radius: 0px; 
  box-sizing: border-box; 
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
  max-width: 400px;
  width: 100%;
} 

.screen-row input{ 
  width: 372px;
  background: #ddd;
  border: 0px;
  color: #222;
  padding: 14px;
  text-align: right;
  font-size: 20px;
} 

input[type="button"]{ 
  width: 100px; 
  background: #4CAF50; 
  border: 1px solid #333; 
  padding: 10px 20px; 
  color: rgb(231, 223, 223); 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  outline: none;
  transition: all 0.5s ease-in-out;
} 
  
input[type="button"]:active{ 
    background: #ccc; 
} 